@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;

    --background: 25 80% 90%;
    --foreground: 25 40% 8.9%;
    --card: 25 75% 91%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 35 75.8% 60.9%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 10 80.8% 95.9%;
    --secondary-foreground: 20 5.9% 10%;
    --muted: 25 44.8% 85.9%;
    --muted-foreground: 25 15.8% 56.1%;
    --accent: 346.8 77.2% 49.8%;
    --accent-foreground: 355.7 100% 97.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 55.9% 80%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 10 44.3% 6.5%;
    --foreground: 10 70% 89.5%;
    --card: 14 40.8% 7.9%;
    --card-foreground: 10 70% 94.5%;
    --popover: 10 40% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 35 75.8% 65.9%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 20 30.7% 7.9%;
    --secondary-foreground: 10 62.5% 90%;
    --muted: 10 20% 15%;
    --muted-foreground: 25 5% 64.9%;
    --accent: 345 50.5% 50.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 20 23.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border font-sans;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  *:is(h1, h2, h3, h4, h5, h6) {
    &,
    * {
    }
    @apply font-serif;
  }

  pre,
  code {
    * {
      @apply font-mono;
    }
  }

  a {
    @apply ring-offset-secondary focus-visible:ring-ring focus-visible:ring-2 focus-visible:outline-none;
  }

  body {
    @apply bg-background text-foreground transition-colors;

    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";

    header#main-header {
      grid-area: header;
    }

    > .main-content {
      grid-area: main;
    }

    footer#main-footer {
      grid-area: footer;
    }
  }

  svg.text-foreground path {
    fill: hsl(25 40% 8.9%);
  }

  .marquee {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    --gap: 1rem;
    gap: var(--gap);

    .marquee__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      min-width: 100%;
      gap: var(--gap);

      animation: scroll 10s linear infinite;
    }

    @keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100% - var(--gap));
      }
    }
  }
}
